.Card-container {
  height: auto;
  width: 1000px;
  background: white;
}
.Card-outerborder {
  display: flex;
  justify-content: space-between;
}
.Card-border {
  width: 200px;
  height: 250px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card-title {
  display: flex;
  justify-content: center;
}

.CardIndex {
  display: flex;
  justify-content: space-between
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
